{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}

	<div class="row">
		<div class="col-md-3">
			<div class="well well-sm">				
				{# si l'utilisateur est scénariste, lui afficher les liens vers les groupes dont il a la responsabilité #}
				{% if is_granted('ROLE_SCENARISTE', app.user) %}
					{% include 'homepage/fragment/scenariste.twig' with {'user': user} %}
				{% endif %}
				
				{# liste des événements de l'utilisateur #}
				{% include 'homepage/fragment/participants.twig' with {'participants': user.participants} %}
												
				{# gestion administrative #}
				{% include 'homepage/fragment/administration.twig' with {'user': user} %}
			</div>
		</div>
		<div class="col-md-9">
			
			{# Si l'utilisateur n'a pas d'événement futur de prévu, lui proposer de choisir un événement dans la liste #}
			{# Si pour un événement futur, l'utilisateur n'a pas de billet, lui proposer de prendre un billet #}					
			{% if not user.hasFuturEvent %}
				<div class="panel panel-conan">
					<div class="panel-heading">
						Choisir un jeu ?
					</div>
					<div class="panel-body">
						<p>Vous ne participez à aucun jeu. Nous vous proposons de parcourir la liste des jeux proposés par Eve-Oniris et d'en selectionner un.</p>
						<p><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;<a href="{{ path('user.gn.list') }}">Voir la liste des jeux</a>.</p>
					</div>
				</div>
			{% else %}
				{% for participant in user.futurEvents %}
					{% if not participant.billet %}
						<div class="panel panel-conan">
							<div class="panel-heading">
								Prendre un billet
							</div>
							<div class="panel-body">
								<div class="media">
									<div class="media-left">
										<i class="fa fa-shopping-basket fa-5x" aria-hidden="true"></i>
									</div>
									<div class="media-body">
										<p>Vous participez à <strong>{{ participant.gn }}</strong> mais vous n'avez pas encore de billet. Nous vous invitons à prendre un billet au plus vite afin de pouvoir rejoindre un groupe et créer votre personnage.</p>
										<p class="text-danger">Un billet est obligatoire pour l'accès au jeu {{ participant.gn }}</p>
										<div class="clearfix">
											<div class="pull-right">
												<a class="btn btn-primary btn-lg" href="{{ path('gn.billetterie', {'gn': participant.gn.id}) }}">Billetterie</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			{% endif %}
			
			{# affichage des annonces #}
			{% include 'homepage/fragment/annonces.twig' with {'annonces': annonces} %}
			
		</div>		
	</div>	
{% endblock content %}