{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}

	<div class="well bs-component">
	
		{# Liste des choses à faire #}
		{% if not app.user.etatCivil  
			or app.user.groupes|length == 0 
			or app.user.personnages|length == 0 %}
			<div class="well well-sm">
				<h6>Liste des choses importantes à faire :</h6>
				<ol>
				{% if not app.user.etatCivil %}
					<li>Enregistrer mon état-civil</li>
				{% endif %}
								
				{% if app.user.groupes|length == 0 %}
					<li>S'inscrire dans un groupe</li>
				{% endif %}
				
				{% if app.user.personnages|length == 0 %}
					<li>Créer mon personnage</li>
				{% endif %}
				</ol>
			</div>
		{% endif %}
		
		{# enregistrement de l'état-civil #}
		{% if not app.user.etatCivil %}
			<div class="panel panel-success">
				<div class="panel-heading">{% trans %}record_player_title{% endtrans %}</div>
				<div class="panel-body">
					<p>{% trans %}record_player_explain{% endtrans %}</p>
					<a class="btn btn-default" href="{{ path('user.information.add', {'id': app.user.id}) }}">{% trans %}record_player_link{% endtrans %}</a>
				</div>
			</div>
		{% endif %}
		
		<div class="row">
			{% include "link.twig" with {
				'title' : "Votre groupe",
				'link' :  path('groupe'),
				'color' : "bg-primary",
				'icon': 'fa-users' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Vos groupes secondaires",
				'link' :  path('groupeSecondaire'),
				'color' : "bg-success",
				'icon': 'fa-users' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Votre personnage",
				'link' :  path('personnage'),
				'color' : "bg-primary",
				'icon': 'fa-user' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Votre personnage secondaire",
				'link' :  path('personnageSecondaire'),
				'color' : "bg-success",
				'icon': 'fa-user-plus' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Discuter",
				'link' :  path('discuter'),
				'color' : "bg-primary",
				'icon': 'fa-comments' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Evenements",
				'link' :  path('evenement'),
				'color' : "bg-success",
				'icon': 'fa-calendar' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Ma trombine",
				'link' :  path('trombine'),
				'color' : "bg-success",
				'icon': 'fa-camera' 
				} %}
				
			{% include "link.twig" with {
				'title' : "Le monde",
				'link' :  path('world'),
				'color' : "bg-success",
				'icon': 'fa-globe' 
				} %}	
		</div>
		
		
		
		{# affichage de l'annonce la plus récente et du lien vers les archives des annonces #}
		{% for annonce in annonces %}
			<div class="header">
				<h5>{{ annonce.title }}</h5>
			</div>
			{{ annonce.text|markdown }}
			<br/>
		{% endfor %}						
	</div>
	
{% endblock content %}
