{% extends "layout.twig" %}

{% block title %}Accueil{% endblock title %}

{% block content %}

<div class="well">

<h3>Respect de la vie privée et Protection des données personnelles</h3>
	
<p class="lead text-justify">Au cours de votre navigation sur ce site, vous pourrez être amené à communiquer des informations revêtant un caractère directement ou indirectement nominatif.</p>
	
<h5>Collecte d'information personnelles</h5>

<p class="text-justify">Les informations recueillies font l’objet d’un traitement informatique destiné à aider les services de secours durant les manifestations. Les destinataires des données sont : l'association eve-oniris et les services de secours durant les manifestations.<p>
<p class="text-justify">Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à <strong>marc@eve-oniris.com</strong>.
<p class="text-justify">Si vous souhaitez vous opposer au traitement des données vous concernant, vous ne pouvez participer à nos manifestations.</p>

<h5>Déclaration à la CNIL</h5>
<p class="text-justify">En conformité avec les dispositions de la loi du 06/01/1978, ce site fait l'objet d'une déclaration préalable auprès de la Commission Nationale Informatique et Liberté (CNIL). Le numéro de déclaration est le <strong>n°1902381v0</strong>.</p>

</div>
	
{% endblock %}
