{# page d'acceuil lorsque l'utilisateur n'est pas connecté.
   dans ce cas, l'utilisateur ne peux faire que deux choix :
   	- se connecter
   	- ou se créer un compte #}
   	
{% extends "layout.twig" %}

{% block content %}

<div class="row">

	<div class="col-xs-6 col-md-6">
	
		<div class="thumbnail">
			<div class="caption">
				<center><h3>Déjà enregistré ?</h3></center>
			</div>
			<p>
				<center>
					Connectez-vous pour acceder à l'interface larpManager.
				</center>
			</p>
			<p>
				<center>
					<a class="btn btn-primary" href="{{ path('user.login') }}">Connexion</a>
				</center>
			</p>
		</div>
	</div>
	
	<div class="col-xs-6 col-md-6">
	
		<div class="thumbnail">
			<div class="caption">
				<center><h3>Nouvel utilisateur ?</h3></center>
			</div>
			<p>
				<center>
					Enregistrez-vous pour créer votre personnage et participer aux grandeur natures d'eve-oniris</p>
				</center>
			<p>
				<center>
					<a class="btn btn-primary" href="{{ path('user.register') }}">S'enregistrer</a>
				</center>
			</p>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-xs-12 col-md-12">
	
		<div class="thumbnail">
			<div class="caption">
				<center><h3>Explorer l'Hyborée</h3></center>
			</div>
			
			<p>
				<center>
					<a class="btn btn-primary" href="{{ path('world') }}">Voir la carte</a>
				</center>
			</p>
		</div>
	</div>
</div>
{% endblock content %}