{# page d'acceuil lorsque l'utilisateur n'est pas connecté. #}
   	
{% extends "layout.twig" %}

{% block content %}
<div class="well well-sm">
	<div class="row">
		<div class="col-md-10">
			<div class="header">
				<h5>LarpManager ? Qu'est-ce donc ?</h5>
			</div>
			<p class="lead">
				Le LarpManager est l'outil web utilisé par Eve-Oniris pour la gestion de ses jeux de rôle grandeur nature.<br />
				Il est obligatoire de se créer un compte sur le LarpManager pour pouvoir participer aux jeux "Légendes d'Hyborée".
				<ul>
					<li>Vous êtes un nouveau joueur ? <a href="{{ path('user.register') }}">Créez vous un compte</a>, forgez votre personnage, et rejoignez l'un des nombreux groupes de joueurs.</li>
					<li>Vous êtes un ancien joueur ? <a href="{{ path('user.login') }}">Connectez vous</a> et poursuivez l'aventure.</li>
				</ul>
				Des ressources sont disponibles si vous voulez explorer l'Hyborée avant de faire le premier pas.
				<ul>
					<li><a href="{{ path('world') }}">Voir la carte intéractive de l'Hyborée</a></li>
					<li><a href="http://www.eveoniris.com/">Voir le site de l'association Eve-Oniris</a></li>
					
				</ul>
			</p>
		</div>
		<div class="col-md-2">
			<img src="{{ app.request.basepath }}/img/logo_eve.png" class="img-responsive" />
		</div>
	</div>
</div>

{% endblock content %}