{% extends "layout.twig" %}

{% block title %}Le monde{% endblock title %}
       
{% block style %}
		<style>		
			html, body, #content {
			    height: 100%;
			    width: 100%;
  				overflow: hidden;
			}
			body {
				padding-top: 50px;
			}
			
			#map {
				width: auto;
  				height: 100%;
			}
			.navbar {
				margin-bottom:0px;
				margin-top: -50px;
			}
			#content {
				padding: 0 0 0 0;
			}

		</style>
{% endblock %}

{% block content %}
		<div id="map"></div>
{% endblock %}

{% block javascript %}		
<script>

// 6103 / 4297

var map = L.map('map', {
    crs: L.CRS.Simple,
    minZoom: -3,
    maxZoom: 1
});
var yx = L.latLng;

var xy = function(x, y) {
	if (L.Util.isArray(x)) {    // When doing xy([x, y]);
		return yx(x[1], x[0]);
	}
	return yx(y, x);  // When doing xy(x, y);
};

var bounds = [xy(0, 0), xy(6103, 4297)];

var image = L.imageOverlay('img/carte.jpg', bounds).addTo(map);

L.marker([2145,3051 ]).addTo(map).bindPopup('Le centre du monde');
L.polyline([               [2145, 3051],
                           [2145, 2861],
                           [2500, 2515],
                           [2412, 2024],
                           [2315, 1862]]
                           ).addTo(map).bindPopup('une route commerciale');

L.marker([2315, 1862]).addTo(map).bindPopup('Une forteresse perdue dans les montagnes');


map.fitBounds(bounds);
map.setView(xy(3051, 2145), -1);



</script>

{% endblock %}