<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('annonce.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter une annonce</h4>
		</a>
	{%  endif %}
	{%  for annonce in annonces %}
	<li class="list-group-item">
		
		<h4 class="list-group-item-heading">
			{{ annonce.title }}
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('annonce.detail', {index: annonce.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('annonce.update', {index: annonce.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
	
	</li>
	{%  endfor %}
</ul>