{% if personnage.hasCompetence('Alchimie') %}
	<div class="header">
		<h5>Alchimie</h5>
	</div>
		
	<h6>Liste de vos potions</h6>
	<div class="list-group">
		{% for potion in personnage.potions %}
			<a class="list-group-item" href="{{ path('participant.potion.detail', {'participant': participant.id, 'potion': potion.id}) }}">{{ potion.label }} - Niveau {{ potion.niveau }}</a>
		{% endfor %}
	</div>
	
{% endif %}