{# Background #}
<div class="header">
	<h5>Background</h5>
</div>

{% if personnage.backgrounds('OWNER')|length > 0 %}
	{% for background in personnage.personnageBackgrounds %}
		<h6 class="list-group-item-heading">Background ({{ background.gn.label }})</h6>
		{{ background.text|markdown }}
	{% endfor %}
{% else %}
	<p class="list-group-item-text">
		Ce personnage n'a pas de background individuel.
	</p>
{% endif %}