{# Groupes secondaires #}
<div class="header">
	<h5>Groupes secondaires</h5>
</div>

<div class="row">
	<div class="col-sm-6">
		<ul class="list-group">
			{% for membre in personnage.membres %}
				<li class="list-group-item"><a href="{{ path('participant.groupeSecondaire.detail', {'participant': participant.id, 'groupeSecondaire': membre.secondaryGroup.id}) }}">{{ membre.secondaryGroup }}</a></li>
			{% endfor %}
			{% for postulant in personnage.postulants %}
				<li class="list-group-item">{{ postulant.secondaryGroup.label }} -- En attente</li>
			{% endfor %}
		</ul>
	</div>
</div>