{# Groupe principal #}
<div class="header">
	<h5>Groupe principal</h5>
</div>

<div class="list-group">
	{% if personnage.groupe %}
		<a class="list-group-item" href="{{ path('groupeGn.groupe', {'groupeGn': participant.session.id}) }}">{{ participant.session.groupe.nom }}</a>
	{% endif %}
</div>