{# Groupes secondaires #}
{% if personnage.membres|length > 0 %}
	<div class="header">
		<h5>Groupes secondaires</h5>
	</div>

	<ul class="list-group">
		{% for membre in personnage.membres %}
			<a class="list-group-item" href="{{ path('participant.groupeSecondaire.detail', {'participant': participant.id, 'groupeSecondaire': membre.secondaryGroup.id}) }}">{% if membre.secondaryGroup.secret %}<span style="color:red;">Secret</span> - {% endif %}{{ membre.secondaryGroup }}</a>
		{% endfor %}
		{% for postulant in personnage.postulants %}
			<div class="list-group-item">{{ postulant.secondaryGroup.label }} -- Postulation en attente de validation</div>
		{% endfor %}
	</ul>
{% endif %}