{# languages connu #}
<div class="header">
	<h5>Langages connus</h5>
</div>

<ul class="list-group">
	{% for personnageLangue in personnage.personnageLangues %}
		<li class="list-group-item"><strong>{{ personnageLangue.langue }}</strong>&nbsp;<small>(obtenu grace à votre {{ personnageLangue.source }})</small>{{ personnageLangue.langue.description|markdown }}</li>
	{% endfor %}
</ul>