{# Origine #}
<div class="header">
	<h5>Origine</h5>
</div>

<div class="row">
	<div class="col-sm-12">
		{% if personnage.territoire %}
			<center>
				<h4>{{ personnage.territoire.nom }}</h4>
			</center>
			<p>
			{{ personnage.territoire.description|markdown }}		
			</p>
		{% else %}
			<p>
				<a class="btn btn-default" href="{{ path('participant.origine',{'participant': participant.id}) }}">Choisir une origine</a>
			</p>
		{% endif %}
	</div>
</div>