{# Pugilat #}
<div class="header">
	<h5>Pugilat</h5>
</div>
<div class="row">
	<div class="col-sm-6">
		<center>
			<h4>{{ personnage.pugilat }}</h4>
		</center>
	</div>
	<div class="col-sm-6">
		Le score de pugilat est le nombre de niveaux cumulés (apprenti 1, initié 2, expert 3 etc…) dans les compétences martiales :
		Agilité / Armes à distance / Armes à 1 main / Armes à 2 mains / Armes d’hast / Armure / Attaque sournoise / Protection / Résistance / Sauvagerie / Stratégie / Survie
		Si quelqu'un essaie d'intervenir avec une arme dans votre combat, l'effet du pugilat s'applique immédiatement. (écourtez le combat)
	</div>		
</div>