{% if personnage.technologies|length > 0 %}
	<div class="header">
		<h5>Vos technologies</h5>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
			<div class="list-group">
			{% for technologie in personnage.technologies %}
				<div class="list-group-item">
					{% if technologie.secret %}<span style="color:red;">Secret</span> - {% endif %}<div class="list-group-item-heading"><strong>{{ technologie.label }}</strong></div>
					<div class="list-group-item-text">{{ technologie.description|markdown }}</div>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
{% endif %}