{# Trombinoscope #}
<div class="header">
	<h5>Trombinoscope</h5>
</div>

<div class="thumbnail">
		{% if participant.personnage.trombineUrl %}
		<center>
			<img width="200" class="media-object" src="{{ path('personnage.trombine', {'personnage' : participant.personnage.id }) }}" />
		</center>
		{% else %}
			<img width="200" class="media-object" src="{{ app.request.basepath }}/img/no_trombine.png" />
		{% endif %}
		<div class="caption">
			<p>
				<a class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Modifier votre photo" href="{{ path('participant.personnage.trombine', {'participant': participant.id, 'personnage': participant.personnage.id}) }}"><span class="fa fa-camera" aria-hidden="true"></span></a>
				Votre photo est utilisée pour les différents trombinoscopes des groupes auxquels vous appartenez afin que les autres joueurs puissent vous reconnaitre.
			</p>
		</div>
</div>
