{% extends "layout.twig" %}

{% block title %}Niveaux{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
			<a href="{{ path("niveau") }}">Retour à la liste des niveau</a>
						
			<div class="well well-sm bs-component">
				<h4>
					{{ niveau.label }}
				</h4>
			</div>
			
			<div class="list-group">
				<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a  class="btn btn-primary" role="button" href="{{ path('niveau.update', {index : niveau.id}) }}">Modifier</a>
					</div>
  				</div>
  			
			</div>			
		</div>
	</div>
</div>
	
			
{% endblock %}