{% extends "layout.twig" %}

{% block content %}

<div class="well well-sm">

	<div class="page-header">
		<h1>Liste des tags</h1>
	</div>
	
	<div class="panel panel-info">
		<div class="panel-heading">
			<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
			Qu'est-ce qu'un tag ?
		</div>
		<div class="panel-body">Les tags permettent de regrouper les objets afin d'avoir plus de faciliter à parcourir le stock d'objet. Voici quelques exemples de tags : Armes, décors, tentes, etc ...</div>
	</div>
	
	{% if tags|length == 0 %}
		<div class="panel panel-warning">
			<div class="panel-heading">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				Attention !
			</div>
			<div class="panel-body">Aucun tag n'est défini ! Vous devez définir au moins un tag.</div>
		</div>
	{% endif %}

	{{ include("admin/stock/tag/list.twig", {'tags' : tags}) }}
	
</div>
{% endblock %}
