{% extends "layout.twig" %}

{% block title %}Background{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li class="active">Background</li>
	</ol>
	
	<div class="well bs-component">
									
		<div class="header"><h5>Vos backgrounds de groupe</h5></div>
		
		{% for background in backsGroupe %}
			{{ background.text|markdown }}
		{% else %}
			Votre groupe n'a pas encore de background validé.  
		{% endfor %}
		
		<div class="header"><h5>Vos backgrounds personnels</h5></div>
		
		{% for background in backsJoueur %}
			{{ background.text|markdown }}
		{% else %}
			Votre personnage n'a pas encore de background validé.
		{% endfor %}	
		
	</div>
	
{% endblock content %}