{% extends "layout.twig" %}

{% block title %}Règles{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li class="active">Règles</li>
	</ol>
	
	<div class="well bs-component">
								
		<div class="header"><h5>Liste des règles</h5></div>
		
		<blockquote>Les fichiers ci-dessous contiennent les règles spécifiques à certains aspect du jeu. Lisez-les avec attention.</blockquote>
		
		<div class="list-group">
			{% for regle in regles %}
				<div class="list-group-item">
					<h5 class="list-group-item-heading">{{ regle.label }}
						<div class="pull-right">
							<small><a target="_blank" href="{{ path('rules.get',{'rule': regle.url}) }}"><i class="fa fa-download"></i> Téléchargez le fichier</a></small>
						</div>
					</h5>
					<p class="list-group-item-text">{{ regle.description|markdown }}</p>
				</div>
		{% endfor %}
		</div>
	</div>
	
{% endblock content %}