{% extends "layout.twig" %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path("religion") }}">Liste des religions</a></li>
		<li class="active">Ajout</li>
	</ol>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("admin/religion/fragment/form.twig",{
					'legend' : 'Ajout d\'une religion',
					'action': path('religion.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}