{% extends "layout.twig" %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("religion/fragment/form.twig",{
					'legend' : 'Ajout d\'un niveau de religion',
					'action': path('religion.level.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}