{% extends "layout.twig" %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("admin/religion/fragment/form.twig",{
					'legend': 'Modification d\'un niveau de religion',
					'action': path('religion.level.update',{'index': religionLevel.id}),
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}