<ul class="list-group">
	{%  for post in posts %}
	<li class="list-group-item">
		
		<h4 class="list-group-item-heading">
			{{ post.title }}
		</h4>
				
		<p class="list-group-item-text text-default">{{ post.text }}</p>
		
	</li>
	{%  endfor %}
</ul>