/vendor/
.buildpath
.project
/.settings/
composer.phar
/database/larpmanager.mwb.bak
/src/LarpManager/Entities/*.bak
/cache/
composer.json.old
/generate/
.DS_Store
/.vs
/private/doc
/larpmanager-anonymized-202109.sql
config/normal_settings.yml
config/settings.yml
