<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<title>LarpManager - Impression des jetons</title>
    	<style>
    		table{
    			width: 100%;
    		}
    	</style>
    </head>
    <body>
    
	<h2>Liste des jetons</h2>
	
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Label</th>
				<th>Tag</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
		{% for token in tokens %}
			<tr>
				<td>{{ token.id }}</td>
				<td>{{ token.label }}</td>
				<td>{{ token.tag }}</td>
				<td>{{ token.descriptionRaw }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>