{% extends "layout.twig" %}

{% block title %}Territoire{% endblock title %}

{% block content %}

<div class="well bs-component">
	
	
	<div class="header"><h5>Modifier les cibles (quêtes commerciales) pour le territoire {{ territoire.nom }}</h5></div>
	
	
	<form action="{{ path('territoire.admin.update.cibles', {'territoire': territoire.id}) }}" method="POST" {{ form_enctype(form) }}>			
			{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
			{{ form(form) }}
	</form>
	
</div>

{% endblock content %}
