{% extends "layout.twig" %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<div class="well bs-component">
				
					<form action="{{ path('territoire.admin.updateStrategie', {'territoire': territoire.id}) }}" method="POST" {{ form_enctype(form) }}>
						<fieldset>
							<legend>Modification de {{ territoire.nom }}</legend>
							{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
							{{ form(form) }}
						</fieldset>
					</form>
					
					
				</div>
			</div>
		</div>
	</div>
	
{% endblock content %}