<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('joueur.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un joueur</h4>
		</a>
	{%  endif %}
	{%  for joueur in joueurs %}
	<li class="list-group-item">
		
		<h4 class="list-group-item-heading">
			{{ joueur.nom }}
			<div class="pull-right btn-group" role="group" aria-label="...">
				<a href="{{ path('joueur.detail.orga', {index: joueur.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('joueur.update', {index: joueur.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
				
	</li>
	{%  endfor %}
</ul>