{% extends "layout.twig" %}

{% block content %}

<div class="page-header">
<h1>
	Gestion des région
	<small>
		( {{ regions|length }} régions )
	</small>
</h1>
</div>

<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12 col-md-12">
			<h3>Liste des régions.</h3>
			{{ include("region/fragment/list.twig", {'regions' : regions, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}