{% extends "layout.twig" %}

{% block title %}Classes{% endblock title %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="well well-sm">
				<h4>
					Gestion des classes
					<small>
						( {{ classes|length }} classes )
					</small>
				</h4>
			</div>
			{{ include("classe/fragment/list.twig", {'classes' : classes, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}