{% extends "layout.twig" %}

{% block title %}Classes{% endblock title %}

{% block content %}

	<a href="{{ path("classe") }}">Retour à la liste des classes</a>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("classe/fragment/form.twig",{
					'legend': 'Modification d\'une classe',
					'action': path('classe.update',{'index': classe.id}), 
					'form' : form}) }}
			</div>
		</div>
	</div>
		
{% endblock content %}