{% extends "layout.twig" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="well well-sm">
				<h4>
					Gestion des territoires
					<small>
						( {{ territoires|length }} territoires )
					</small>
				</h4>
			</div>
			
			{{ include("territoire/fragment/list.twig", {'territoires' : territoires, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}