{% extends "layout.twig" %}

{% block title %}Configuration du compte - Etape 5{% endblock title %}

{% block content %}
<div class="jumbotron">
  <h1><i class="fa fa-thumbs-up" aria-hidden="true"></i> Merci !</h1>
  <hr />
  <p>Votre compte est maintenant complet.</p>
  <div class="clearfix">
  	<div class="pull-right">
  		<p>
  			<a class="btn btn-primary btn-lg" href="{{ path('newUser.step3') }}" role="button"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Etape précédente</a>
  			<a class="btn btn-primary btn-lg" href="{{ path('homepage') }}" role="button">Fin <i class="fa fa-exclamation" aria-hidden="true"></i></a>
  		</p>
  	</div>
  </div>
</div>
{% endblock content %}