{% extends "layout.twig" %}

{% block title %}Forum - Nouveau forum{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
		
			{# le formulaire pour saisir son message #}
			<div class="col-xs-12 col-md-8">
				{{ include("forum/fragment/topic_form.twig",{
					'legend': 'Création d\'un nouveau forum',
					'action': path('forum.add'), 
					'form' : form}) }}
			</div>
			
		</div>
	</div>
	
{% endblock content %}