{% extends "layout.twig" %}

{% block title %}Forum{% endblock title %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
		
			<div class="panel">
				<div class="panel-heading">
					<h5>
						<div class="pull-right">
							<a class="btn btn-default" href="{{ path('forum.add') }}">Ajouter un nouveau forum</a>
						</div>
						Forum
					</h5>
				</div>
				<div class="panel-body">
					{# liste des topics #}
					{{ include("forum/fragment/topic_list.twig", {'topics' : topics}) }}
				</div>
			</div>

							
			
		</div>
	</div>
</div>
	
{% endblock %}