{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Votre alliance est brisée !
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

L'alliance entre {{ alliance.groupe.nom }} et {{ alliance.requestedGroupe.nom }} a été brisée.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h3>L'alliance entre {{ alliance.groupe.nom }} et {{ alliance.requestedGroupe.nom }} a été brisée</h3>

{%- endblock -%}