{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: The SimpleUser\User instance.
    confirmationUrl: The link to click to complete the confirmation process.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Bienvenue ! Merci de confirmer votre adresse email.
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Merci de rejoindre eveOniris ! une grande aventure vous attends !

S'il vous plait, cliquez sur le lien ci-dessous pour confirmer votre adresse mail :
{{ confirmationUrl }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h1>Merci de rejoindre eveOniris !</h1>
    <p>une grande aventure vous attends !</p>

    <p>
        S'il vous plait, <a href="{{ confirmationUrl }}">suivez ce lien pour confirmer votre adresse mail</a>.
    </p>

{%- endblock -%}