{#
Template for an email message sent to confirm an email address.
Variables passed to this template:
    user: The SimpleUser\User instance.
    confirmationUrl: The link to click to complete the confirmation process.
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    {{ groupeSecondaire.label }} -- Vous avez été retiré du groupe
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Le chef de groupe vous a retiré du groupe {{ groupeSecondaire.label }}.

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}
    <p>Le chef de groupe vous a retiré du groupe {{ groupeSecondaire.label }}.</p>
{%- endblock -%}