{#
Template for an email message sent to notifie about a new post.
Variables passed to this template:
    user: The SimpleUser\User instance.
    postUrl : Url 
#}

{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
	Nouvelle candidature
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Bonjour, le groupe secondaire {{ groupeSecondaire.label }} dont vous êtes le responsable a reçu une nouvelle candidature.

Cliquez sur le lien ci-dessous pour accéder directement à la page de gestion de votre groupe secondaire :

{{ url }}

{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h3>Bonjour, le groupe secondaire {{ groupeSecondaire.label }} dont vous êtes le responsable a reçu une nouvelle candidature.</h3>
    
    <p>
        <a href="{{ url }}"> Suivez ce lien pour accéder directement à la page de gestion de votre groupe secondaire</a>.
    </p>

{%- endblock -%}