{# The subject line. #}
{%- block subject -%}{%- autoescape false -%}
    Un groupe demande la paix.
{%- endautoescape -%}{%- endblock -%}

{# The plain text message. #}
{%- block body_text -%}{%- autoescape false -%}

Le groupe {{ groupe.nom }} demande la paix.


{%- endautoescape -%}{%- endblock -%}

{# The HTML message. Optional. #}
{%- block body_html -%}

    <h3>Le groupe {{ groupe.nom }} demande la paix</h3>
    
{%- endblock -%}