{% extends "layout.twig" %}

{% block content %}

	<h2>Saisie d'un tag</h2>
	<form action="{{ path('stock_tag_add') }}" method="POST">
		{{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}
	</form>

{%  endblock %}