{% extends "layout.twig" %}

{% block content %}

	<div id="ajax_entity">
		<table class="pure-table pure-table-horizontal pure-table-striped">
		<caption>Liste des tags</caption>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Nombre d'objets</th>
				<th colspan="2"><a class="ajax_action" href="{{  path('stock_tag_add') }}"><i class="icon-plus-sign"></i></a></th>
			</tr>
		</thead>
		<tbody>
		{% for tag in tags %}
		<tr>
		<td>{{ tag.nom }}</td>
		<td>{{ tag.objets|length }}</td>
		<td><a href=""><i class="icon-document"></i></a></td>
		<td><a class="ajax_action" href="{{ path('stock_tag_update', {index : tag.id} ) }}"><i class="icon-pencil"></i></a></td>
		</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
	
	<div id="ajax_result"></div>

{% endblock %}
