{% extends "install/layout.twig" %}

{% block title %}Installation{% endblock %}

{% block content %}
	<p>Installation de LarpManager</p>
	
	<fieldset>
	<legend>Installation de la base de données</legend>
	<form class="form-vertical" action="{{ path('install_index') }}" method="POST" {{ form_enctype(form) }}>
	
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
		
	</form>
	</fieldset>
	
{% endblock %}