{% extends "install/layout.twig" %}

{% block title %}Installation{% endblock %}

{% block content %}
	<p>Installation de LarpManager</p>
		<form action="{{ path('create_or_update_larp') }}" method ="POST">
		<p>Il existe un fichier d'installation ou mise à jour des tables nécessaires au fonctionnement de LarpManager</p>
		<p>Veuillez vérifier le contenu : </p>
		<div id="sqlcontent">
		{{ sql_content|raw }}
		</div>
		<input type="submit" value="Installer" />
		</form>
		
	
{% endblock %}