{% extends "install/layout.twig" %}

{% block title %}Installation{% endblock %}

{% block content %}

	<div class="page-header">
		<h1>Installation de LarpManager</h1>
	</div>
	
	<form action="{{ path('install_index') }}" method="POST" {{ form_enctype(form) }}>
		{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
		{{ form(form) }}
	</form>
		
{% endblock %}