{% extends "install/layout.twig" %}

{% block title %}Première étape terminée{% endblock %}

{% block content %}
	<p>Installation de LarpManager, deuxième étape</p>
	<p>L'installation de la table user s'est déroulée avec succès</p>
	<p>Veuillez créer le premier utilisateur, comme ceci est le premier user, il aura les droits d'administration.</p>
	
	<fieldset>
	<legend>Création de l'utilisateur admin</legend>
	<form class="form-horizontal" action="{{ path('install_create_user') }}" method="POST" {{ form_enctype(form) }}>
	
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
		
	</form>
	</fieldset>   
	
{% endblock %}