<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="{{ app.request.basepath }}/css/style.css" />
            <title>{% block title %}{% endblock %} - LarpManager</title>
        {% endblock %}
    </head>
    <body>
    	<div id="menu">
    	{% include 'menu.twig' %}
		</div>
		
        <div id="content">{% block content %}{% endblock %}</div>
		
        <div id="footer">
            {% block footer %}
                &copy; Copyright 2015 by eve-oniris.
            {% endblock %}
        </div>
    </body>
</html>
