{% extends "layout.twig" %}

{% block title %}Niveaux{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("level/fragment/form.twig",{
					'legend': 'Ajout d\'un niveau',
					'action': path('level.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}