<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		Example
	</a>
	<ul class="dropdown-menu">
		<li><a href="{{ path('example.index') }}">Page de test</a></li>
	</ul>
</li>