{% extends "layout.twig" %}

{% block title %}Titres{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Accueil</a></li>
		<li><a href="{{ path('titre.admin.list') }}">Liste des titres</a></li>
		<li class="active">Détail d'un titre</li>
	</ol>

	<div class="list-group">
		<div class="list-group-item">
			<div class="list-group-item-heading"><h6>Label</h6></div>
			<div class="list-group-item-text">{{ titre.label }}</div>
		</div>
		<div class="list-group-item">
			<div class="list-group-item-heading"><h6>Renommé</h6></div>
			<div class="list-group-item-text">{{ titre.renomme }}</div>
		</div>
	</div>
			
{% endblock content %}