{% extends "layout.twig" %}

{% block title %}Classes{% endblock title %}

{% block content %}

	<a href="{{ path("classe") }}">Retour à la liste des classes</a>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
			
				<div class="well bs-component">
					<form class="form" action="{{ path('classe.update',{'index': classe.id}) }}" method="POST" {{ form_enctype(form) }} novalidate>
						<fieldset>
							<legend>Modification d'une classe</legend>
								{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
								{{ form(form) }}
						</fieldset>
					</form>
				</div>

			</div>
		</div>
	</div>
		
{% endblock content %}