{% extends "layout.twig" %}

{% block title %}Joueurs{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<a href="{{ path("joueur.detail", {'index':joueur.id}) }}">Retour</a>
				{{ include("joueur/fragment/form.twig",{
					'legend': 'Modification de vos informations',
					'action': path('joueur.update',{'index':joueur.id}),
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}