{% extends "layout.twig" %}

{% block title %}Personnage{% endblock title %}

{% block content %}

	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">Page d'accueil</a></li>
		<li class="active">Votre personnage</li>
	</ol>
	
	<div class="well bs-component">
		{% if not app.user.etatCivil or app.user.groupes|length == 0  %}
			Vous devez remplir votre état civil et rejoindre un groupe avant de pouvoir créer un personnage.
		{% else %}
			{% if app.user.personnage %}
				{{ include("homepage/fragment/personnage.twig",{'personnage':app.user.personnage}) }}
			{% else %}
				Vous n'avez pas encore de personnage. Rejoignez un groupe pour y créer un personnage.
				
				{% for groupe in app.user.groupes %}
					{% if not groupe.getPersonnage(app.user) %}
						<a class="btn btn default" href="{{ path('groupe.personnage.add', {'index': groupe.id}) }}">Créer votre personnage</a>
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endif %}
	</div>
	
{% endblock content %}