{% extends "layout.twig" %}

{% block title %}Genres{% endblock title %}

{% block content %}

<div class="page-header">
<h1>
	Gestion des genres
	<small>
		( {{ genres|length }} genres )
	</small>
</h1>
</div>

<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12 col-md-12">
			<h3>Liste des genres.</h3>
			{{ include("genre/fragment/list.twig", {'genres' : genres, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}