{% extends "layout.twig" %}

{% block title %}Genres{% endblock title %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
				<div class="well well-sm">
				<h4>
					Gestion des genres
					<small>
						( {{ genres|length }} genres )
					</small>
				</h4>
			</div>
			{{ include("genre/fragment/list.twig", {'genres' : genres, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}