{% extends "layout.twig" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="well well-sm">
				<h4>
					Gestion des personnages secondaires
					<small>
						( {{ personnageSecondaires|length }} personnage secondaires )
					</small>
				</h4>
			</div>
			
			{{ include("admin/personnageSecondaire/fragment/list.twig", {'personnageSecondaires' : personnageSecondaires}) }}
		</div>
	</div>

</div>
	
{% endblock %}