{% extends "error/layout.twig" %}

{% block content %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			Droits insuffisant
		</div>
	  	<div class="panel-body">
		  <p>Vous n'avez pas les droits pour cette action.</p>
		</div>
	</div>
{% endblock %}