{% extends "error/layout.twig" %}

{% block content %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			Page non trouvée
		</div>
	  	<div class="panel-body">
		  <p>Désolé, La page demandée n'a pas été trouvée.</p>
		</div>
	</div>
{% endblock %}