{% extends "error/layout.twig" %}

{% block content %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			Objet non trouvé
		</div>
	  	<div class="panel-body">
		  <p>Désolé, L'objet que vous avez demandez n'a pas été trouvé.</p>
		</div>
	</div>
{% endblock %}