{% extends "error/layout.twig" %}

{% block content %}
	<div class="panel panel-warning">
		<div class="panel-heading">
			Requete invalide
		</div>
	  	<div class="panel-body">
		  <p>Désolé, la requête que vous avez soumise ne peux pas être traitée.</p>
		</div>
	</div>
{% endblock %}