.row{
  overflow: hidden; 
}

.fixed-height {
	height: 400px;
	overflow-y: auto;
}

html {
  position: relative;
  min-height: 100%;	
}

body {
	/*font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
	font-size: 14px;
  	line-height: 1.42857143;
  	/*color: #333;*/
	background-color: #fff;
	background: url("../img/landscape2.jpg")no-repeat;
	background-size: cover !important;
	background-attachment: fixed;
	border-top: 0 !important;
}

#content {
	margin-bottom : 60px;
}

.svg-content { 
	display: inline-block;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
}

.container--ph {
  height: 0;
  padding-top: 48%;
  position: relative;
}

.iframe--responsive {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none; /* get rid of the border */
}

.huge {
    font-size: 30px;
    line-height: normal;
}

.link
{
	padding: 7px;
	margin-bottom: 10px;
	background: url('../img/header.png') repeat scroll 0% 0% / 100% 100% transparent;
}

.link a
{
	color: #292929;
}

.link:hover {
	color: #000;
}

.header
{
  background: url('../img/header.png') repeat scroll 0% 0% / 100% 100% transparent;
  padding: 0px 10px;
  margin: 2px 0px 10px;
  text-align: center;
  border: 0px none;
}

.white-box
{
	border: 1px solid #000;
	background-color: #fff;
	background: rgba(255, 255, 255, 0.9);
	color: #000;
	padding: 10px;
}

.jumbotron hr
{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
}


footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #151515;
  background: rgba(21, 21, 21, 0.5);
  padding:5px;
}


ul.forum 
{
 background-color:#f2f2f2;
 color: #000;
}

ul.forum li
{
  background-color:#f2f2f2;
  border-color: #aaa;
}

.panel-conan > .panel-heading {
    background: url("../img/header.png") repeat scroll 0% 0% / 100% 100% transparent;
    color: white;
    padding-left: 30px;
    margin-top: 10px;
}

/**
 * Ajoute un asterix rouge si le champ est obligatoire
 */        
.form .control-label.required:after {
	font-family: 'FontAwesome';
	font-weight: normal;
	content: "\f069";
	color: red;
	margin-left: 5px;
}

.form .form-control {
	margin-bottom: 15px;
}