{% extends "layout.twig" %}

{% block title %}Classes{% endblock title %}

{% block content %}

		<ol class="breadcrumb">
			<li><a href="{{ path('homepage')  }}">Accueil</a></li>
			<li class="active">Les classes</li>
		</ol>
	
		<div class="row">
		{% for classe in classes %}
			<div class="col-sm-12 col-md-12">
			{{ include("classe/fragment/info.twig", {'classe' : classe}) }}
			</div>
		{% endfor %}

		</div> <!-- end row -->
		
	

{% endblock content %}

{% block javascript %}
	{{ parent() }}
	
	<script>
	$(function () {
  		$('[data-toggle="tooltip"]').tooltip()
	})
	</script>
{% endblock javascript %}