{% extends "layout.twig" %}

{% block title %}Groupe secondaire{% endblock title %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="well well-sm">
				<h4>
					Gestion des groupes secondaires
					<small>
						( {{ groupeSecondaires|length }} groupes )
					</small>
				</h4>
			</div>
			{{ include("groupeSecondaire/fragment/list.twig", {'groupeSecondaires' : groupeSecondaires, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}