{% extends "layout.twig" %}

{% block title %}Groupe secondaires{% endblock title %}

{% block content %}

	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<a href="{{ path("groupeSecondaire") }}">Retour à la liste des groupes secondaires</a>
				{{ include("groupeSecondaire/fragment/form.twig",{
					'legend': 'Modification d\'un groupe secondaire',
					'action': path('groupeSecondaire.update',{'index': groupeSecondaire.id}), 
					'form' : form}) }}
			</div>
		</div>
	</div>
		
{% endblock content %}