{% extends "layout.twig" %}

{% block title %}Groupes{% endblock title %}

{% block content %}

	<div class="page-header">
		<h1>
			Liste des groupes
		</h1>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-12">
			
				{% if last_add|length == 0 %}
					<div class="panel panel-warning">
						<div class="panel-heading">
							<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
							Des problèmes sont à régler !
						</div>
						
		  				<div class="panel-body">
							<ul>
								{% if last_add|length == 0 %}
									<li>Attention, aucun groupe n'est défini.</li>
								{%  endif %}
							</ul>
						</div>
					</div>
				{% endif %} 				
			</div>

		<div class="col-xs-12 col-md-12">
			<h3>Liste des groupes.</h3>
			{{ include("groupe/fragment/list.twig", {'groupes' : last_add, 'add' : true}) }}
		</div>
	</div>
</div>

{% endblock content %}





