{% extends "layout.twig"  %}

{% block title %}Email confirmation envoyé{% endblock %}

{% block content %}

	<div class="well well-sm">
		<h1>Merci !</h1>

    	<p>Un email a été envoyé à <strong>{{ email }}</strong>.</p>

    	<p>Merci de cliquer sur le lien présent dans le message pour activer votre compte.</p>
	</div>
{% endblock %}
