<form action="{{ path('stock_localisation_update', {index:localisation.id} ) }}" method="POST" class="pure-form">
	<fieldset>
	<legend>Modification d'une localisation</legend>
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
	</fieldset>
</form>