{% extends "layout.twig" %}

{% block title %}Evénement{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("gn/fragment/form.twig",{
					'legend': 'Ajout d\'un gn',
					'action': path('gn.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}