{% extends "layout.twig" %}

{% block content %}
	
	<table>
		<caption>Liste des GN</caption>
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th/>
			</tr>
		</thead>
		<tbody>
			{% for gn in gns %}
				<tr>
					<td>{{ gn.id }}</td>
					<td>{{ gn.name }}</td>
					<td><a href="{{ path('gn_remove', {index: gn.id}) }}">Delete</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<div>
		<a href="{{ path('gn_add') }}">Ajouter un GN</a>
	</div>
	
{% endblock %}