{% extends "layout.twig" %}

{% block content %}
	
	<form action="{{ path('gn_remove', {index: gn.id}) }}" method="POST">
		<h1>Etes vous certain de vouloir supprimer ce GN ?</h1>
		<ul>
		<li>Identifiant : {{ gn.id }}</li>
		<li>Nom : {{ gn.name }}</li>
		</ul>
		<input type="submit" value="Supprimer" />
	</form>
	
{% endblock %}