{% extends "layout.twig" %}

{% block content %}
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Pays</th>
			<th>Date</th>
			<th>Description</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td>{{ chronologie.id }}</td>
				<td>{{ chronologie.pays.name }}</td>
				<td>{{ chronologie.date }}</td>
				<td>{{ chronologie.description }}</td>
			</tr>
	</tbody>
</table>
{% endblock %}