{% extends "layout.twig" %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ path('stock_homepage')}}">Stock</a></li>
  <li class="active"><a href="#">Objets</a></li>
  <li><a href="{{ path('stock_objet_add') }}">Add</a></li>
</ol>

	<div class="page-header">
	<h1>
		Liste des objets
	</h1>
	</div>
	
	<nav class="navbar navbar-default">
  		<div class="container-fluid">
  		
	  		 <form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<div class="btn-group" role="group" aria-label="...">
						<div class="input-group">
							<select class="form-control" id="searchType">
								<option value="nom">Nom</option>
								<option value="code">Code</option>
							</select>
						 	<div class="input-group-btn"></div>
					    	<input id="search" type="text" class="form-control" placeholder="Search">
					    	<span class="input-group-btn">
					    		<button class="btn btn-default" id="doSearch" type="button"><span class="icon fa fa-search"></span></button>
					    	</span>
					    </div>
				    </div>
				</div>
				
				<div class="form-group">
					<div class="btn-group" role="group" aria-label="...">
					  <button id="reset" type="button" class="btn btn-default"><span class="icon fa fa-refresh"></span></button>
					</div>
				</div>
	      	</form>
      	  		
  		</div>
  	</nav>
  	
  		<nav>
	  <ul class="pager">
	    <li><a class="previous" href="#">Previous</a></li>
	    <li><span class="page"></span></li>
	    <li><a class="next" href="#">Next</a></li>
	  </ul>
	</nav>
	
	<div id="liste_objet" class="row"></div>
	
	<nav>
	  <ul class="pager">
	    <li><a class="previous" href="#">Previous</a></li>
	    <li><span class="page"></span></li>
	    <li><a class="next" href="#">Next</a></li>
	  </ul>
	</nav>
			
{% endblock content %}

{% block javascript %}
	{{ parent() }}
	<script>

	var paramDefault = {
			'current' : 1,
			'rowCount' : 2,
			'searchPhrase' : '',
			'searchType' : '',
			'sort': {},
			'thumbnail' : true
		}; 
	var param = $.extend({},paramDefault);

	var result = null;
	
	var search_timeout = null;
	var myXHR = null;
	
	var ajax_request = function() {
		if(myXHR) myXHR.abort();
		 myXHR = $.ajax({
			url: '{{ path('stock_objet_index') }}',
			method: 'POST',
			dataType: 'json',
			data: param,
			success : function(data) {
				result = data;
				
				if ( result['total'] != 0 ) {
					result['pageCount'] = Math.ceil(result['total'] / result['rowCount']);
					$(".page").html(result['current'] + "/" + result['pageCount']);
					$('#liste_objet').html(data.thumbnails);
				}
				else {
					result['pageCount'] = 0;
					$('#liste_objet').html("<p>No result, sorry</p>");
					
				}
					
				
			},
			error : function(err) {}
		});
	};
		
	$(document).ready(function() {

		ajax_request();

		$("form").on('submit', function() {
			return false;
		});
		
		$("#searchType").on('change', function(e) {
			param['searchType'] = $(this).val();
		});
		
		$("#search").on('keyup', function(e) {
			e.preventDefault();
			clearTimeout(search_timeout);
			
			param['searchPhrase'] = this.value;
				
			if (param['searchPhrase'].length >= 3) {
				search_timeout = setTimeout(ajax_request(), 250);
			}
			return false;
		});

		$("#doSearch").on('click', function(e) {
			param['searchPhrase'] = $("#search").val();
			param['searchType'] = $("#searchType").val();
			ajax_request();
			return false;
		});

		$("#reset").on('click', function(e) {
			param = $.extend({},paramDefault);
			console.log(paramDefault);
			ajax_request();
			return false;
		});

		$(".next").on('click', function(e) {
			if ( param['current'] != result['pageCount'] ) {
				param['current'] += 1;
				ajax_request();
			}
			return false;
		});

		$(".previous").on('click', function(e) {
			if ( param['current'] != 1 ) {
				param['current'] -= 1;
				ajax_request();
			}
			return false;
		});
	});
	</script>
{% endblock javascript %}




