{% extends "layout.twig" %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ path('stock_homepage')}}">Stock</a></li>
  <li class="active"><a href="#">Objets</a></li>
  <li><a href="{{ path('stock_objet_add') }}">Add</a></li>
</ol>

	<div class="page-header">
	<h1>
		Liste des objets
	</h1>
	</div>
	
	<table id="liste_objet" class="table table-condensed table-hover table-striped">
	<caption>Liste des objets</caption>
	<thead>
		<tr>
			<th data-column-id="nom">Nom</th>
			<th data-column-id="code">Code</th>
			<th data-column-id="creation_date" data-type="datetime">Création</th>
			<th data-column-id="description">Description</th>
			<th data-column-id="photo">Photo</th>
			<th data-column-id="localisation">Localisation</th>
			<th data-column-id="etat">Etat</th>
			<th data-column-id="proprietaire">Proprietaire</th>
			<th data-column-id="responsable">Responsable</th>
			<th data-column-id="nombe">Nombre</th>
			<th data-column-id="commands" data-formatter="commands" data-sortable="false">Commands</th>
		</tr>
	</thead>
	</table>
	
{% endblock content %}

{% block javascript %}
	{{ parent() }}
	<script>
	$(document).ready(function() {
		
		$("#liste_objet").bootgrid({
			ajax: true,
			url: "{{ path('stock_objet_index') }}",
			converters: {
				datetime: {
		            from: function (value) { return moment(value); },
		            to: function (value) { if ( value ) {return moment(value).format("lll");} else return value; }
		        }
		    },
			formatters: {
		        "commands": function(column, row)
		        {
		            return "<button type=\"button\" class=\"btn btn-xs btn-default command-edit\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-pencil\"></span></button> " + 
		                "<button type=\"button\" class=\"btn btn-xs btn-default command-delete\" data-row-id=\"" + row.id + "\"><span class=\"fa fa-trash-o\"></span></button>";
		        }
		    }
		});
	});
	</script>
{% endblock javascript %}


