{% extends "layout.twig" %}

{% block title %}Type de groupe secondaire{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("groupeSecondaireType/fragment/form.twig",{
					'legend': 'Ajout d\'un type de groupe secondaire',
					'action': path('groupeSecondaire.type.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}