<form action="{{ path('stock_etat_add') }}" method="POST" class="pure-form">
	<fieldset>
		<legend>Ajout d'un état</legend>
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
	</fieldset>
</form>
