{% extends "layout.twig" %}

{% block content %}

<ul>
<li>{{ etat.id }}</li>
<li>{{ etat.label }}</li>
</ul>

<p>Nombre d'objet dans cet état :</p>
<p>Récupérer la liste de tous les objets dans cet état :</p>

{% endblock %}

