{% extends "layout.twig" %}

{% block content %}

	<ol class="breadcrumb">
	  <li><a href="{{ path('stock_homepage')}}">Stock</a></li>
	  <li><a href="{{ path('stock_etat_index') }}">Etats</a></li>
	  <li class="active"><a href="#">Modification</a></li>
	</ol>

	<form action="{{ path('stock_etat_update', {index:etat.id} ) }}" method="POST">
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
	</form>
	
{%  endblock %}
