<form action="{{ path('stock_etat_update', {index:etat.id} ) }}" method="POST" class="pure-form">
	<fieldset>
	<legend>Modification d'un état</legend>
		{% form_theme form 'Form/fields.twig' %}
		{{ form(form) }}
	</fieldset>
</form>
