{% extends "layout.twig" %}

{% block title %}Ages{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
		
			<a href="{{ path("age") }}">Retour à la liste des ages</a>
			<div class="well well-sm bs-component">
				<h4>
					{{ age.label }}
				</h4>
			</div>
			
  			<div class="list-group">
		    		
		    	<div class="list-group-item">
			    	<h4 class="list-group-item-heading">Description</h4>
	    			<p class="list-group-item-text">
	    			{% if not age.description %}
    				<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    					Attention, cet age n'a pas de description.
    				{% else %}
    					{{ age.description }}
    				{% endif %}
    				</p>
	    		</div>
			</div>
		</div>
	</div>
</div>
	
			
{% endblock %}