{% extends "layout.twig" %}

{% block title %}Ages{% endblock title %}

{% block content %}

<div class="page-header">
<h1>
	Gestion des ages
	<small>
		( {{ ages|length }} ages )
	</small>
</h1>
</div>

<div class="container-fluid">

	<div class="row">

		<div class="col-xs-12 col-md-12">
			<h3>Liste des ages.</h3>
			{{ include("age/fragment/list.twig", {'ages' : ages, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}