{% extends "layout.twig" %}

{% block title %}Ages{% endblock title %}

{% block content %}

	
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<a href="{{ path("age") }}">Retour à la liste des ages</a>
				{{ include("age/fragment/form.twig",{
					'legend': 'Modification d\'un age',
					'action': path('age.update',{'index':age.id}),
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}