{% extends "layout.twig" %}

{% block content %}

<div class="well well-sm">

	<div class="page-header">
		<h1>Modification d'une localisation</h1>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("admin/stock/localisation/form.twig",{'action': path('stock_localisation_update', {index:localisation.id} ), 'form' : form}) }}
			</div>
		</div>
	</div>

</div>	
{%  endblock %}