<ul class="list-group">
	{%  if add != false %}
		<a href="{{ path('groupeSecondaire.add') }}" class="list-group-item active">
			<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
			<h4 class="list-group-item-heading">Ajouter un groupe secondaire</h4>
		</a>
	{%  endif %}
	{%  for groupeSecondaire in groupeSecondaires %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ groupeSecondaire.label }}
			<div class="btn-group pull-right" role="group" aria-label="...">
				<a href="{{ path('groupeSecondaire.detail', {index: groupeSecondaire.id}) }}" class="btn btn-primary" role="button">Voir</a>
			    <a href="{{ path('groupeSecondaire.update', {index: groupeSecondaire.id}) }}" class="btn btn-default" role="button">Modifier</a>
			</div>
		</h4>
	</li>
	{%  endfor %}
</ul>