<div class="header">
	<h5>Administratif</h5>
</div>
<ul class="list-group">
	<li class="list-group-item"><a href="{{ path('user.etatCivil') }}">Modifier mes informations administratives</a></li>
	<li class="list-group-item"><a href="{{ path('user.restriction') }}">Mes restrictions alimentaires</a></li>
	<li class="list-group-item"><a href="{{ path('user.fedegn') }}">Assurance Fédégn</a></li>
	<li class="list-group-item"><a href="{{ path('user.billetterie') }}">Billetterie</a></li>
</ul>