<div class="panel panel-default">
	<div class="panel-heading">
		{{ personnage.nom }}
	</div>
	<div class="panel-body">

   	</div>
   	<ul class="list-group">
   		<li class="list-group-item">
   			<a href="{{ path('personnage.detail', {'index':personnage.id}) }}" class="btn btn-primary" role="button">Détail</a>
   		</li>
	</ul>
</div>