<div class="header">
	<h5>Personnage secondaire</h5>
</div>

<ul class="list-group">			
 	{% if personnageSecondaire %}
 		<li class="list-group-item">Personnage secondaire :&nbsp;<strong>{{ user.personnageSecondaire.classe.label }}</strong></li>
	{% endif %}
	<li class="list-group-item"><a href="{{ path('user.personnageSecondaire') }}">Modifier son personnage secondaire</a></li>
</p>