<div class="header">
	<h5>Gestion des annonces</h5>
</div>

<ul class="list-group">
	<li class="list-group-item"><i class="fa fa-file-text" aria-hidden="true"></i> <a href="{{ path('annonce.list') }}">Liste des annonces</a></li>
	<li class="list-group-item"><i class="fa fa-plus" aria-hidden="true"></i> <a href="{{ path('annonce.add') }}">Ajouter une annonce</a>
</ul>