{% extends "layout.twig" %}

{% block content %}
	
	<form action="{{ path('pays_remove', {index: pays.id}) }}" method="POST">
		<h1>Etes vous certain de vouloir supprimer ce pays ?</h1>
		<ul>
		<li>Identifiant : {{ pays.id }}</li>
		<li>Nom : {{ pays.nom }}</li>
		</ul>
		<input type="submit" value="Supprimer" />
	</form>
	
{% endblock %}