{% extends "layout.twig" %}

{% block title %}Compétences{% endblock title %}

{% block content %}

	<div class="page-header">
		<h1>Ajout d'une compétence</h1>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("competence/fragment/form.twig",{'action': path('competence.add'), 'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}