{% for competence in competences %}
	<div class="col-sm-6">
		<div class="checkbox">
			<label class>
				<input name="competence[{{ competence.id }}]" index="{{ competence.id }}" type="checkbox" class="competence">
				<span>{{ competence.nom }}</span>
				<span>{{ competence.description|markdown }}</span>
			</label>
		</div>
	</div>
{% endfor %}