{% extends "layout.twig" %}

{% block title %}Compétences{% endblock title %}

{% block content %}
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				<a href="{{ path("competence") }}">Retour à la liste des compétences</a>
				{{ include("competence/fragment/form.twig",{
					'legend': 'modification d\'une compétence',
					'action': path('competence.update',{'index': competence.id}), 
					'form' : form}) }}
			</div>
		</div>
	</div>
		
{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin tinymce pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinyMCE.init({
				mode: "textareas",
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview", 
		});
		
	</script>

{% endblock javascript %}