<div class="well bs-component">
	<form action="{{ action }}" method="POST" {{ form_enctype(form) }} novalidate>
		<fieldset>
			<legend>{{ legend }}</legend>
				{% form_theme form 'Form/bootstrap_3_layout.html.twig' %}
				{{ form(form) }}
		</fieldset>
	</form>
</div>