{% extends "layout.twig" %}

{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-12">
			<div class="well well-sm">
				<h4>
					Gestion des langues
					<small>
						( {{ langues|length }} langues )
					</small>
					<small>
						( {{ groupeLangues|length }} groupes de langues )
					</small>
				</h4>
			</div>
			{{ include("langue/fragment/grouplist.twig", {'groupeLangues' : groupeLangues, 'add' : true}) }}
			{{ include("langue/fragment/list.twig", {'langues' : langues, 'add' : true}) }}
		</div>
	</div>

</div>
	
{% endblock %}