<ul class="list-group">

	<a href="{{ path('personnage.competence.add',{'personnage':personnage.id}) }}" class="list-group-item active">
		<span class="badge"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></span>
		<h4 class="list-group-item-heading">Acheter une compétence</h4>
	</a>

	{%  for competence in personnage.competences %}
	<li class="list-group-item">
		<h4 class="list-group-item-heading">
			{{ competence.label }}
		</h4>
		<p class="list-group-item-text">
			{{ competence.description|markdown() }}			
		</p>
	</li>
	{%  endfor %}
</ul>