{% extends "layout.twig" %}

{% block title %}Famille de compétence{% endblock title %}

{% block content %}

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-8">
				{{ include("competenceFamily/fragment/form.twig",{
					'legend': 'Ajout d\'une famille de compétence',
					'action': path('competence.family.add'), 
					'form' : form}) }}
			</div>
		</div>
	</div>
	
{% endblock content %}

{% block javascript %}

	{{ parent() }}

	{# inclusion du plugin tinymce pour la saisie du post #}   
	<script src="{{ app.request.basepath }}/js/tinymce/tinymce.min.js"></script>

	<script type="text/javascript">
		tinyMCE.init({
				mode: "textareas",
				theme: "modern",
				plugins : "spellchecker,insertdatetime,preview", 
		});
		
	</script>

{% endblock javascript %}