{% extends "layout.twig" %}

{% block title %}Famille de compétence{% endblock title %}

{% block content %}
	
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
			<a href="{{ path("competence.family") }}">Retour à la liste des familles de compétence</a>
						
			<div class="well well-sm bs-component">
				<h4>
					{{ competenceFamily.label }}
				</h4>
			</div>
			
			<div class="list-group">
				<div class="list-group-item">
  					<div class="btn-group" role="group" aria-label="...">
  						<a  class="btn btn-primary" role="button" href="{{ path('competence.family.update', {index : competenceFamily.id}) }}">Modifier</a>
					</div>
  				</div>
  			
			</div>			
		</div>
	</div>
</div>
	
			
{% endblock %}