# /web/.htaccess
<IfModule mod_rewrite.c>
    Options -MultiViews

    RewriteEngine On
	RewriteBase /larp-manager/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [QSA,L]
</IfModule>